@{
    ViewBag.Title = "cellPhone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model newApp.Models.cell
@foreach(var x in ViewBag.cell)
{
    
    <p>
       <h4>price is : @x.price  </h4>  
        <br /><h4>  Title of ad is : @x.adTitle  </h4>
        <br />
        <img  src="@x.url"  height="200" width="200"/>
        <br /> 
    </p>


}