@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
       We have started devloping a site where you find yourself at ease of use.
    </p>

    <p>
        Our goal is to bring the best on your machine
    </p>.

    <p>
        Beware of fake things and must confirm the product and then buy it , have happy purchasing.
    </p>
</article>

<aside>
    <h3>Little bit more about us </h3>
    <p>
        The owner of site :) .
    </p>
    <ul>
        <li>
            <img src="~/Images/addn.png" />
        </li>
    </ul>
</aside>