@{
    ViewBag.Title = "adCar";
    Layout = null;
}

    <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> adnan</title>
     <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js" ></script>
</head>
<body>
   
    <div class="row">
       <form action ="/Home/saveCar" enctype="multipart/form-data" method="post">
        <div class="col-lg-2 list-group ">
            <h1>Post Your Ad Here  :) </h1>
           <table>
               <tr>
                   <td>
                       Make :
                   </td>
                   <td>
<input type="text"  placeholder="which company make the car" name="make" />

                   </td>
               </tr>
               <tr>
                    <td>
                       Model:
                   </td>
                   <td>
  <input type="text"  placeholder="the model of car such as Honda , civic " name="model"/>

                   </td>
               </tr>
               <tr>
                    <td>
                       type:
                   </td>
                   <td>
  <input type="text" placeholder="2 dooor, 4 door , van etc" name="type"/> 

                   </td>
               </tr>
           
                <tr>
                    <td>
                    price:
                   </td>
                   <td>
  <input type="text" placeholder="price in PAK rupees" name="price" />

                   </td>
               </tr>
                 <tr>
                    <td>
                 Year :  
                   </td>
                   <td>
       
          <input type="text" placeholder="year of purchase" name="year"  /> 

                   </td>
               </tr>
               <tr>
                    <td>
               Milage : 
                   </td>
                   <td>
       
           <input type="text" placeholder="number of KM per litre"  name="milage"/> 
                   </td>
               </tr>
                <tr>
                    <td>
               Condition : 
                   </td>
                   <td>
       
           <input type="text" placeholder="used or new"  name="cond"/> 
                   </td>
               </tr>
                <tr>
                    <td>
               VIN Number  : 
                   </td>
                   <td>
       
           <input type="text" placeholder="VIN number of your car"  name="vin"/> 
                   </td>
               </tr>
                     <tr>
                    <td>
            Image of Car : 
                   </td>
                   <td>
       
           <input type="file"  name="img"/> 
                     
                   </td>
               </tr>
                <tr>
                    <td>
               Ad Title : 
                   </td>
                   <td>
       
           <input type="text" placeholder="Unique Title "  name="title"/> 
                   </td>
               </tr>
               <tr>
                   <td>
                       <h2>Seller Info,</h2><br />
                   </td>
               </tr>
                <tr>
                    <td>
                        
               Name : 
                   </td>
                   <td>
       
           <input type="text" placeholder="name of seller"  name="name"/> 
                   </td>
               </tr>
                <tr>
                    <td>
               Email : 
                   </td>
                   <td>
       
           <input type="email" placeholder="Example@ahhoo.com"  name="email"/> 
                   </td>
               </tr>
                    <tr>
                    <td>
                     City: 
                   </td>
                   <td>
 <input type="text"  placeholder="your current city"  name ="city"/> 

                   </td>
                   
               </tr>
                <tr>
                    <td>
             Phone Number : 
                   </td>
                   <td>
       
           <input type="tel" placeholder="your cell number"  name="num"/> 
                   </td>
               </tr>
            <tr>
                    <td>
                        
               Name of seller: 
                   </td>
                   <td>
       
           <input type="text" placeholder="name of seller"  name="sname"/> 
                   </td>
               </tr>
           </table>
            <input type="submit" value="Post this Ad" />
            </div>
           </form>
       
        </div>
    
   
</body>
</html>
