@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>0321 6777677</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>0321 6777677</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="#">bsef11m010@pucit.edu.pk</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="www.google.com.pk">Marketing of site</a></span>
    </p>
  
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        16 km main raiwend road <br />
        near Superior university :) 
    </p>
</section>