@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
               
                <h2>Post your Add and sell it easily , </h2> <br />
                <h2>Search the thing you need and purchase it  easily , It's simple </h2>
            </hgroup>
           
        </div>
    </section>
}
 <a href="#" > <h3>Categories: </h3> </a>
<ol class="round">
     
    <li class="one">
        <h4> <a href="/category/cellPhone">Cell Phones - Accessories</a></h4>
       <h3> You can Post all types of adds related to mobiles and accessories. <br />
        You can also sale and purchased by selecting this category.</h3>
       
    </li>

    <li class="two">
        <h4> <a href="/category/car">Vehicles</a></h4>
        <h3> You can Post all types of adds related to CARS , BIKES , RAKSHAA AND BICYCLE . 
        You can also sale and purchased by selecting this category.</h3>
    </li>
    <li class="three">
     <h5> <a href="/category/electro">	Electronics </a></h5>
        <h3> You can Post all types of adds related to FREEZER ,FANS , JUICER MACHINE etc . 
        You can also sale and purchased by selecting this category.</h3>
    </li>
     <li class="four">
     <h5> <a href="/category/book">Books  </a></h5>
       <h3>  You can Post all types of adds related to BOOKS  ,MAGAZINES, NOVELS etc . 
        You can also sale and purchased by selecting this category.</h3>
    </li>
    <li class="five">
      <a href="/category/cloth">Clothes  </a>
        <h3> You can Post all types of adds related to SHIRTS  ,PENTS, TIES etc . 
        You can also sale and purchased by selecting this category.</h3>
    </li>
   
</ol>
